<h3>
<p>Lets Play Tic-Tac-Toe</p>
</h3>
    <form method = "post" action = "/pick_character">
    <p> Pick the players <P>
    <input type="number" min="1" max="4" placeholder="Difficulty Select" name="character" required >
<br>
    <input type="radio" name= "p1" value ="1" checked> Human Player <br>
    <input type="radio" name= "p1" value="2"> Easy Peasy(with lemon) <br>
    <input type="radio" name = "p1" value="3"> Over Easy(still runny) <br>
    <input type="radio" name = "p1" value="4"> God has no Power here <br>
<br>
<br>
 	<input type="radio" name= "p2" value ="1" checked> Human Player <br>
    <input type="radio" name= "p2" value="2"> Easy Peasy(with lemon) <br>
    <input type="radio" name = "p2" value="3"> Over Easy(still runny) <br>
    <input type="radio" name = "p2" value="4"> God has no Power here <br>
    <br>
    <input type = "submit">
</form></center>
